/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5CDB95;
}

#app {
  width: 100%;
}

.header {
  text-align: center;
  background-color: #05386B;
  color: white;
  padding: 10px 0;
  width: 70%;
  margin-bottom: 30px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  background-color: #05386B;
  color: white;
  padding: 40px;
  border-radius: 20px;
  width: 70%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  width: 100%;
}

/* Стиль форм */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

/* Метки для полей ввода */
label {
  min-width: 80px;
  text-align: right;
  margin-right: 10px;
}

/* Поля ввода */
input[type="text"],
input[type="date"] {
  flex-grow: 1;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

/* Кнопки */
button {
  background-color: #EDF5E1;
  color: #05386B;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #dbebc2;
}

/* Результаты поиска */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

/* Модальные окна */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  /* Увеличим ширину модального окна */
  margin: 0px auto;
  padding: 40px;
  background-color: #EDF5E1;
  /* Цвет фона, совпадающий с цветом кнопок */
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  color: #05386B;
  /* Основной цвет текста */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  line-height: 18px;
  cursor: pointer;
  color: #05386B;
}

.modal-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-container label {
  text-align: left;
  margin-bottom: 5px;
}

.modal-container input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.modal-container button {
  background-color: #05386B;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.modal-container button:hover {
  background-color: #33415c;
}

/* Стилизация блока с кнопками */
.auth-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  width: 70%;
  /* Соответствует ширине основного контейнера */
  margin-left: auto;
  margin-right: auto;
}

.auth-block button {
  background-color: #EDF5E1;
  color: #05386B;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.auth-block button:hover {
  background-color: #dbebc2;
}

/*вкладки*/
.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 20px;
  /* Отступ между кнопками */
}

.tabs button {
  background-color: #EDF5E1;
  /* Неактивная кнопка */
  color: #05386B;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #dbebc2;
  /* Активная кнопка */
}

.tab-content {
  width: 100%;
}

.result-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #EDF5E1;
  color: #033142;
}

.result-card h3 {
  margin-top: 0;
}

.result-card p {
  margin-bottom: 10px;
}

.result-card button {
  background-color: #53a0bd;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.result-card button:hover {
  background-color: #386f92;
}

.tabs button {
  background-color: #EDF5E1; /* Неактивная кнопка */
  color: #05386B;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #dbebc2; /* Активная кнопка */
}

/* Стили для рамки вокруг каждого пользователя */
.list-view ul li {
  background-color: #dbebc2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Стили для блоков span внутри каждого пользователя */
.item span {
  margin-left: 10px;
  color: #05386B;
}

/* Дополнительные стили для кнопок удаления */
.item button {
  float: right;
  background-color: #64d6e6;
  color: #05386B;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Центрирование текста внутри карточки */
.item {
  padding: 10px;
  text-align: center;
}
